*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    height: 120px;

    display:flex;
    justify-content: center;
}

.container{
    width:990px;

    display: flex;
    justify-content: space-between;
}

/* LOGO */
.logo{
    display: flex;
    align-items: center;
}

/* MENU */
.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
}

nav ul{
    display: flex;
}

nav a{
    text-decoration:none;
    text-transform: uppercase;
    color:#727272;
    font-weight: 600;
    font-size: 15px;
    padding:15px;

    display:block;
}

nav .active a, nav a:hover{
    background-color: #39aae1;
    color:white;
}

/* BANNER */
#banner{
    background-image: url('../img/img1.jpg');
    background-position-x: center;
    background-position-y: end;
    background-size: cover;

    height:670px;

    display:flex;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction:column;
}

.banner-headline{
    flex:1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-headline h2, .banner-headline h3{
    max-width: 370px;
    padding: 12px;
    color:#fff;
}

.banner-headline h2{
    font-size: 65px;
    text-shadow: 1px 1px 0px #000;
}

.banner-headline h3{
    font-size:21px;
    text-shadow: 1px 1px 0px #000;
}

.banner-options{
    height: 210px;

    display: flex;
}

.banner-options .banner{
    color:#fff;
    padding: 20px;

    flex:1;

    display: flex;
    flex-direction:column;
    align-items:start;
    justify-content: space-between;
}

.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}

.banner-title{
    font-size:21px;
    font-weight: 700;
}

.banner-description{
    font-size:15px;
    font-weight: normal;
}

.banner-button{
    padding:7px;
    background:none;
    border:1px solid #fff;
}

.banner-button a{
    text-decoration: none;
    color:#fff;
    font-size:15px;
}

.calendar{
    padding-top:15px;
    padding-bottom:15px;
    width:100%;
    flex:1;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.day-hour{
    display:flex;
    justify-content: space-between;

    border-bottom: 0.5px solid #ffffff;
    padding-bottom:7.5px;
}

.day,.hour{
    font-size:16px;
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex:2;
}

#geral aside{
    flex:1;
}

.widget-title{
    margin: 30px 0 20px;
}

.widget-title .text{
    font-size:21px;
    font-weight: bold;
    color:#000;
}

.widget-title .line{
    width:50px;
    height:3px;
    background-color: #36a9e1;
    margin-top:10px;
}

.flex{
    display:flex;
    flex-wrap:wrap;
}

article{
    flex:1;
    min-width:300px;
    margin-right:20px;
}

article a{
    text-decoration:none;
}

article .news-date{
    display:flex;
}

article .news-posted-at,article .news-comments{
    color:#fff;
    font-size:12px;
    padding:10px;
}

article .news-posted-at{
    background-color:#2b4c99;
    margin-right:3px;
}
article .news-comments{
    background-color:#39aae1;
}

article .news-img{
    margin-top:30px;
}

article .news-img img{
    width:100%;
    height:auto;
}

article .news-title{
    margin:25px 0 25px;
    font-size: 23px;
    color:#000;
    font-weight: bold;
}

article .news-resume{
    color:#5c5c5c;
    font-size:14px;
    line-height: 20px;
    margin-bottom:30px;
}

footer{
    background-color: #1e1e1e;

    display: flex;
    justify-content:center;
}

.footer-menu{
    flex:1;
    display:flex;

    color:#fff;
}

.fm1, .fm2, .fm3{
    flex:1;

    padding:20px;
}

.footer-area-item{
    
}

